<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/diagram-js.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-js-shared.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-js-drd.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-js-decision-table.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-js-decision-table-controls.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-js-literal-expression.css">
<link rel="stylesheet" href="https://unpkg.com/dmn-js@8.3.0/dist/assets/dmn-font/css/dmn.css">

<div id="container">
  <div id="first-container">
    <div id=dmn-container>
    </div>
    <button id="exportBtn" class="btn btn-primary" (click)="exportDiagram()"> Export diagram </button>
  </div>
  <div id="second-container">
    <button id="add-dmn" routerLink="/main-page">+</button>
  </div>
</div>





